fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
sentence-transformers==2.7.0
torch==2.2.2
transformers==4.40.0
# For Albanian specific handling
spacy==3.7.4
langdetect==1.0.9
# For RAG and LLM connection
groq==0.5.0
httpx==0.27.0
pydantic==2.7.1
pydantic-settings==2.2.1
# For local model handling
ollama==0.1.8